/* google fonts import */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;500&display=swap");

/* assets */
:root {
  --maincolor: #7c3aed;
  --textcolor: rgb(255, 255, 255);
  --primarycolor: black;
  --items-color: #ffffff;
  --items-hover: #dbdbdbde;
  --completed: #595959c4;
  --main-font: "Poppins", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-items: center;
  font-family: var(--main-font);
}

section {
  margin-left: auto !important;
  margin-right: auto !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70vw;
}

/* header */
.todo-inputs {
  position: relative;
  background-color: var(--maincolor);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--textcolor);
  padding-bottom: 30px;
  margin: 10px;
  margin-bottom: 20px;
  border-radius: 30px;
  -webkit-box-shadow: 0px 0px 10px 5px rgba(141, 20, 254, 0.57);
  -moz-box-shadow: 0px 0px 10px 5px rgba(141, 20, 254, 0.57);
  box-shadow: 0px 0px 10px 5px rgba(141, 20, 254, 0.57);
}

h1 {
  font-size: 2rem;
}

.text-input {
  width: 85%;
  height: 40px;
  outline: none;
  border: none;
  border-radius: 10px;
  padding-inline-start: 10px;
  font-family: var(--main-font);
  text-transform: capitalize;
}

/* !text input placeholder */
.text-input::placeholder {
  font-family: var(--main-font);
  font-size: medium;
  font-weight: 200;
}

.add-button {
  margin-top: 20px;
  background-color: var(--maincolor);
  border: none;
  width: 20%;
  min-width: 140px;
  height: 30px;
  color: var(--textcolor);
  font-size: large;
  font-weight: 200;
  cursor: pointer;
}

.add-button:hover {
  border: solid var(--textcolor) 1px;
  border-radius: 2px;
}

.add-search {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
}

.select {
  outline: none;
  border: none;
  width: 12%;
  height: 25px;
  margin-top: 20px;
  border-radius: 3px;
  cursor: pointer;
  text-transform: uppercase;
}
.select option{
    font-size: .9rem;
    font-weight: 500;
}
/*ITEMS*/

.tasks-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0%;
  width: 100%;
  list-style: none;
  padding: 0;
  margin-top: 0;
}

.list-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  height: 50px;
  background-color: var(--items-color);
  padding-left: 30px;
  transition: 300ms ease-in;
  border-radius: 10px;
  margin: 10px;
  width: calc(100% - 50px);
  -webkit-box-shadow: 0px 0px 10px 2px rgba(107, 33, 168, 0.59);
  -moz-box-shadow: 0px 0px 10px 2px rgba(107, 33, 168, 0.59);
  box-shadow: 0px 0px 10px 2px rgba(107, 33, 168, 0.59);
  overflow: hidden;
}
.list-item h4 {
  margin-left: 0%;
  font-family: var(--main-font);
  font-weight: 200;
}
.list-item button {
  justify-self: flex-end !important;
}

.list-item:hover {
  background-color: var(--items-hover);
  color: var(--black);
  cursor: pointer;
  transition: 100ms ease-in-out;
}

.trash {
  margin-left: auto;
  width: 50px;
  height: 100%;
  border: none;
  border: 10px;
  background-color: #7c7c7c00;
  transition: 50ms ease-in-out;
}

.trash h1 {
  display: none;
}

.trash:hover {
  background-color: var(--maincolor);
  border: 10px;
  color: var(--items-color);
  cursor: pointer;
}

.trash:hover .bi {
  color: var(--textcolor);
}

/*!the completed item class */
.completed {
  background-color: var(--completed);
  text-decoration: line-through;
}
.completed::before {
  content: url(./check.png);
  width: initial;
  height: initial;
  margin-right: 10px;
}

.slide-out-right {
  -webkit-animation: slide-out-right 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53)
    both;
  animation: slide-out-right 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@-webkit-keyframes slide-out-fwd-center {
  0% {
    -webkit-transform: translateZ(1);
    transform: translateZ(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(600px);
    transform: translateZ(600px);
    opacity: 0;
  }
}
@keyframes slide-out-fwd-center {
  0% {
    -webkit-transform: translateZ(1);
    transform: translateZ(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(600px);
    transform: translateZ(600px);
    opacity: 0;
  }
}

/* =========== media queries =========  */
@media screen and (max-width: 768px) {
  .main-container {
    width: 100vw;
    padding-inline: 20px;
  }
}

@media screen and (max-width: 480px) {
  /* header */
  .todo-inputs {
    padding-bottom: 20px;
    margin: 10px 0px;
    border-radius: 22px;
    -webkit-box-shadow: 0px 0px 10px 5px rgba(141, 20, 254, 0.57);
    -moz-box-shadow: 0px 0px 10px 5px rgba(141, 20, 254, 0.57);
    box-shadow: 0px 0px 10px 5px rgba(141, 20, 254, 0.57);
  }

  h1 {
    font-size: 1.7rem;
  }

  .text-input {
    width: 85%;
    height: 30px;
    outline: none;
    border: none;
    border-radius: 10px;
    padding-inline-start: 10px;
    font-family: var(--main-font);
  }

  /* !text input placeholder */
  .text-input::placeholder {
    font-size: 0.9rem;
  }

  .add-button {
    margin-top: 12px !important;
    width: 70% !important;
    height: 35px !important;
    font-size: large;
    font-weight: 200;
    border-radius: 10px !important;
    border: solid var(--textcolor) 1px;
  }

  .add-search {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 0px;
  }

  .select {
    width: 70%;
    height: 25px;
    margin-top: 10px;
    border-radius: 5px;
    border: none;
  }

  .list-item {
    font-size: 0.85rem;
  }
}